.navbar {
    display: grid;
    max-width: 1000px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto 20px;
    font-size: 30px;
}

.navbar a {
    color: var(--nav-link-color);
}

@media screen and (max-width: 800px) {
    .navbar {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .navbar a {
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 5px;
    }

    .navbar a:nth-of-type(4) {
        margin-bottom: 0;
    }
}